{% extends 'layout/loggedout.html'%}

{% block head%}
<title>Star Wars App | Register</title>
{% endblock%}

{% block body%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col col-6">
            <form action="/register" method="post">
                <h2 class="mb-3">Sign Up for Star Wars App</h2>
                <div class="form-group mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username"
                           placeholder="Enter username" required>
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputEmail">Email address</label>
                    <input type="email" class="form-control" name="email" id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Enter email" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password1">Password</label>
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="Enter Password" required>
                </div>
                <div class="form-group mb-3">
                    <label for="password2">Confirm password</label>
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-primary mb-3">Submit</button>
                <div class="form-group">
                    <p>Allready have account? <a href="{{url_for('auth.login')}}">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}

